*{
    margin: 0;
    padding: 0;
    color: white;
}
:root{
    --para1:"FRESH COFFEE IN THE MORNING ";
}
.top{
    display: flex;
    position: fixed;
    top:0;
    background-color: black;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    z-index: 1;
}
a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-weight: 400;
    font-size: 18px;
    padding: 20px;
    margin-top: 10px;
}
.top-menu-element:hover{
    border-bottom: 5px solid rgb(139, 66, 66);
    border-right: 5px solid rgb(139, 66, 66); 
    border-left:  5px solid rgb(139, 66, 66);
    border-radius: 10px;
    transition: 0.2s;
}
.top-logo{
   flex-direction: 1; 
   padding: 20px;
   font-weight: 900;
   font-size: 16px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-left:80px ;
   user-select: none;
}
.top-menu{
    flex-direction: 10;
    align-items: center;
    padding: 20px;
}
.top-exten{
    flex-direction: 1;
    display: flex;
    padding: 20px;
    margin-right: 80px;
}
i{
    padding-right:10px ;
    cursor: pointer;
}
.home{
    background-image: url(picturecoffee/bgtopcf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 100%;
}
.home::before{
    content: var(--para1);
    position: absolute;
    width: 500px;
    height: 300px;
    top: 35%;
    left: 10%;
    font-weight: 900;
    font-size: 50px;
    word-wrap:normal;
}
.about{
    position: relative;
    background-color: black;
}
.about_content{
    position: relative;
    display: flex;
    margin-left: 17%;

}
.about_title{
    display: flex;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    padding: 20px 20px 30px 20px;
    align-items: center;
   
}
h2{
    position: relative;
    left: 50%;
    color:rgb(151, 140, 78);
    transform: translateX(-50%);
}
.about_para{
    word-wrap: nomal;
    flex-direction: 1;
    width: 500px;
    background-color: #111319 !important;
}
.about_para h1{
    padding: 20px;
    padding-bottom: 20px;
}
.about_para h6{
    padding-bottom: 60px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.about_para a{
    background-color: #BD9768;
    padding-top: 10px;
    padding-bottom: 10px;
}
.about_img{
    flex-direction: 1;
}
.menu{
    position: relative;
    background-color: black;
}
.menu_title{
    display: flex;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    padding: 20px 20px 30px 20px;
    align-items: center;
}
.menu_title span{
    color: rgb(151, 140, 78);
}
.menu_title p{
    color: white;
}
.menu_product{
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
.card{
    position: relative;
    width: 350px;
    height: 190px;
    /* height: 400px; */
    border-radius: 20px;
    background-color: aqua;
    animation: .5s;
}
.card:hover{    
    height: 400px;
}
.cafe-img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:-80px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
}
.cafe-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    top:0%;
    left: 0;
    transition: 0.5s;
}
.card .content{
    position: absolute;
    top:-10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.card .details{
    position: relative;
    padding: 40px;
    transform: translateY(150px);
    transition: .5s;
    overflow: hidden;
}
.card:hover .details{
    transform: translateY(0px);
}
.card p{
    color: black;
    font-size: 20px;
    font-weight: 700;
}
.card .data{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.data span{
    font-size: .75em;
    font-weight: 500;
    opacity:.5 ;
    color: black;
}
h3{
    color: black;
    text-align: center;
}
p{
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
}
.btn{
    display: flex;
    justify-content: space-between;
}
button{
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background-color: #ff4f95;
    color: #fff;
    cursor: pointer;
    margin-left: 25px;
}
.product{
    position: relative;
    width: 100%;
    background-color: black;
}
.product_title{
    text-align: center;
    padding: 40px;
    font-size: 40px;
    font-weight: 700;
}
.product_menu{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.product-pack{
    position: relative;
    width: 300px;
    height: 400px;
    border: 1px solid gray;
    background-color: #F6F1EE;
}
.product-img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    width: 150px;
    height: 150px;
}
.product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-pack-icon{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    color: black;
    top:10px;
    left: 50%;
    transform: translateX(-50%);  
}
.product-pack-icon i{
    color: black;
}
.product-pack-icon a{
    padding: 0;
    align-items: center;
    transition: .5s;
}
.product-pack-icon a:hover{
    transform: translateY(-10px);
}
